@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yantramanav:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@400;600&display=swap');

header {
    font-family: 'Pacifico', cursive;
    text-align: left;
    background-color: #D8BBEC;
    margin: auto;
    padding: 8px 60px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
    color: #3E254F;
}

.introHeader {
    margin: auto;
    padding-top: 100px;
    padding-bottom: 10px;
    font-family: 'Barlow Semi Condensed', sans-serif;
    color: #D8BBEC;
    font-size: 50px;
}

body {
    margin: 0;
    background-color: #bc6ff1;
    background-color: #643782;
    text-align: center;
}

.form-group {
    padding:30px 300px 30px 300px;
    width: 100%;
}

.btn {
    background-color: #3E254F;
    border-color: #3E254F;
    color: #D8BBEC;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
    font-family: 'Barlow Semi Condensed', sans-serif;
}

.btn:hover {
    background-color: #362144;
    border-color: #362144;
    color: #D8BBEC;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);;
}

.btn-relative {
    position: relative;
    display:inline-block;
    padding: 7px 15px 7px 15px;
    margin: 1px;
}

.formInput {
    padding: 4px;
    position:relative;
    display:inline-block;
    z-index: 1;
    width:70%;
}

img {
    width: 10px;
    height:auto;
}

.input {
    text-align: left;
    margin-left:22%;
    margin-top: 2px;
    margin-right: 2px;
    margin-bottom: 2px;
}
