@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

header {
    font-family: 'Pacifico', cursive;
    text-align: left;
    background-color: #bedbbb;
    margin: auto;
    padding: 8px 60px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
    color: #474747;
}



