@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@400;600&display=swap');


body {
    margin: 0;
    background-color: #643782;
    color: #D8BBEC;
    text-align: center;
}

.btn {
    background-color: #3E254F;
    border-color: #3E254F;
    color: #D8BBEC;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
    font-family: 'Barlow Semi Condensed', sans-serif;
}

.btn:hover {
    background-color: #362144;
    border-color: #362144;
    color: #D8BBEC;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);;
}

.btn-relative {
    position: relative;
    display:inline-block;
    padding: 7px 15px 7px 15px;
    margin: 1px;
}

